<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function(){
          $('#btnDeviceInfo').click(function (){
            $.ajax({
              type: "GET",
              url: "/ADBS/get_device_info",
              success: function (data, textStatus, jqXHR) {
                  console.log(data)
                  $('#tabDeviceInfo').empty()
                  for (let col in data){
                    $('#tabDeviceInfo').append('<th>' + col + '</th>')
                  }
                  $('#tabDeviceInfo').append('<tr>')
                  for (let col in data){
                    $('#tabDeviceInfo').append('<td>' + data[col] + '</td>')
                  }
              },
            })
          })

          $('#btnInputText').click(function (){
            $.ajax({
              type: "GET",
              url: "/ADBS/keyboard_input?keyword=" + $('#taContent').val(),
              success: function (data, textStatus, jqXHR) {
                $('#taContent').val('')
              },
            })
          })

          $('#btnOpenDownloadUrl').click(function (){
            $.ajax({
              type: "GET",
              url: "/ADBS/OpenBrowser?appid=" + $('input[name="product"]:checked').val(),
              success: function (data, textStatus, jqXHR) {
                console.log(data)
              },
            })
          })

          $('#btnClearData').click(function (){
            $.ajax({
              type: "GET",
              url: "/ADBS/ClearPackageData?appid=" + $('input[name="product"]:checked').val(),
              success: function (data, textStatus, jqXHR) {
                console.log(data)
              },
            })
          })

          $('#btnScreenShots').click(function (){
            $.ajax({
              type: "GET",
              url: "/ADBS/ScreenShots?filepath=" + $('#txtFilePath').val(),
              success: function (data, textStatus, jqXHR) {
                console.log(data)
              },
            })
          })

        })
    </script>
  </head>
  <body>
    <div>
      <span id="spmsg"></span><br>
      <button id="btnDeviceInfo">设备信息</button>
      <table id="tabDeviceInfo"></table>
      <br>
      <textarea id="taContent">15911092097</textarea><button id="btnInputText">输入信息</button>
      <br>
      存放目录<input id="txtFilePath" type="text" value="c:/Users/" ><button id="btnScreenShots">截屏</button>
      <br>
      <input name="product" type="radio" value='1' checked="checked">People's Daily
      <input name="product" type="radio" value='2'>Reader
      <button id="btnOpenDownloadUrl">蒲公英下载地址</button>
      <button id="btnClearData">清理缓存</button>
    </div>
  </body>
</html>