{% load staticfiles %}
<html>
    <head>
        <title>sou</title>
        <meta charset="utf-8">
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-easyui-1.6.3/jquery.easyui.min.js' %}"></script>
        <script src="{% static 'js/jquery-easyui-1.6.3/plugins/jquery.tooltip.js' %}"></script>
        <script src="{% static 'js/jquery-easyui-1.6.3/datagrid-filter.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-easyui-1.6.3/themes/default/easyui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-easyui-1.6.3/themes/icon.css' %}">
        <script>
            var defaultOpt = {
                filterBtnIconCls: 'icon-filter',
                title:"",
                striped: true,//斑马线
                rownumbers: true,//增加一个行号
                pagination: true,//显示分页工具
                singleSelect: false,//只能选中一行
                idField: 'roomId',//唯一标识的字段
                sortName: 'roomId',//定义哪些列可以进行排序。
                sortOrder: 'desc',//列排序顺序
                fitColumns: true, //列自适应
                remoteSort: false, //是否从服务器排序数据
                pageSize: 40,
                pageList: [20, 40, 60, 80, 100],
                toolbar: '#toolbar',
                frozenColumns: [[{
                    field: 'ck',
                    checkbox: true,
                }]],
                onLoadSuccess: function (data) {
                    parent.$.messager.progress('close')
                    $(".easyui-tooltip").tooltip()
                }
            }

            var defaultCol = {columns:[[
                {field:'roomId', title:'ID', align:'center'},
                {field:'roomName', title:'标题名', align:'center'},
                {field:'traffic', title:'周边', align:'center', width:"10%", formatter: function(value, row, index){
                    return '<span title="' + value['周边：'] + '" class="easyui-tooltip" >' + value['周边：'] + '</span>'
                }},
                {field:'linelist', title:'交通', align:'center', width:"10%", formatter: function(value, row, index){
                    return '<span title="' + row.traffic['交通：'] + '" class="easyui-tooltip" >' + value + '</span>'
                }},
                {field:'price', title:'￥', align:'center', sortable:true},
                {field:'PayWay', title:'支付方式', align:'center'},
                {field:'keyword', title:'关键字', align:'center'},
                {field:'url', title:'超链接', align:'center'},
            ]]}
            
            // 1) field：需要定义规则的域。
            // 2) type：过滤类型，可能的值：label、text、textarea、checkbox、numberbox、validatebox、datebox、combobox、combotree。
            // 3) options：过滤类型的选项。
            // 4) op：过滤操作，可能的值：contains、equal、notequal、beginwith、endwith、less、lessorequal、greater、greaterorequal。     
            // min 	数字 	文本框中可允许的最小值 	null
            // max 	数字 	文本框中可允许的最大值 	null
            // precision 	数字 	最高可精确到小数点后几位 	0         
            var defaultFilter = [
                {
                    field: 'price',
                    type:'numberbox',
                    options: { precision: 0},
                    op: ['lessorequal', 'greaterorequal']
                },
            ]

            function getWidth(percent){  
                return $(window).width() * percent;  
            }
            
            function Bind(data){
                $("#divShowData").datagrid(defaultOpt)
                $('#divShowData').datagrid(defaultCol)
                $("#divShowData").datagrid('enableFilter', defaultFilter)
                $("#divShowData").datagrid('loadData', data)
            }
            
            $(document).ready(function(){
                $(window).resize(function(){  
                    $("#divShowData").datagrid("resize",{width:getWidth(1)});  
                });  

                $("#sel").click(function(){
                    $.ajax({
                        type:'get',
                        url:'Querysouzr',
                        data: {
                            "addr":$("#addr").val(),
                            "busline":$("#busline").val(),
                            "price_min":$("#price_min").val(),
                            "price_max":$("#price_max").val(),
                            "count":$("#count").val(),
                        },
                        success: function(data){
                            Bind(data)
                        }
                    })
                })

                $("#open_link").click(function(){
                    var rows = $("#divShowData").datagrid('getSelections')
                    for (var i in rows){
                        window.open(rows[i].url)
                    }
                })
            })
        </script>
    </head>
    <body>
        Address<input id="addr" type="text">
        MinPrice<input id="price_min" type="text">
        MaxPrice<input id="price_max" type="text">
        Bus<input id="busline" type="text">
        Count<input id="count" type="text">
        <button id="sel">查询</button>
        <button id="open_link">打开房屋链接</button>
        <div id="divShowData"></div>
    </body>
</html>